#user{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 300px;
    background-color: #61a7c2;
    background-repeat: no-repeat;
    background-position-x: right ;
    background-image: url(./images/icon-play.svg)
    
}
#thumbnail{
    width: 300px;
}
h6{
    color: darkblue;
    text-align: left;
    size: 20px;
}
h1{
    color: whitesmoke;
}
.card{
    background-color: black;

}
